@media only screen and (min-width: 313px) and (max-width: 352px){
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #5a1929, #312424, #5a1929); /* Gradient background */
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  src: url('fonts/static/Montserrat-SemiBold.ttf') format('woff2'),
       url('fonts/static/Montserrat-SemiBold.ttf') format('woff'); /* Specify correct paths */
  font-weight: 600; /* Semi-bold font weight */
  font-style: normal; 
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/static/Montserrat-Bold.ttf') format('woff2'),
       url('fonts/static/Montserrat-Bold.ttf') format('woff'); /* Specify correct paths */
  font-weight: bold; /* Bold font weight */
  font-style: normal; 
}

@font-face {
  font-family: 'Poppins Semi-Bold';
  src: url('fonts/poppins/Poppins-SemiBold.ttf') format('woff2'),
       url('fonts/poppins/Poppins-SemiBold.ttf') format('woff');
  font-weight: bold; /* Bold font weight */
  font-style: normal; 
}

@font-face {
  font-family: 'Bricks Sans';
  src: url('fonts/brics/HvDTrial_BrixSans-Regular-BF64c3379310193.otf') format('woff2'), /* Modern Browsers */
       url('fonts/brics/HvDTrial_BrixSans-Regular-BF64c3379310193.otf') format('woff'); /* Legacy Browsers */
  font-weight: normal; 
  font-style: normal; 
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}








.nav-container {
  position:relative;
  top: 0;
  left: 35px;
  right: 50px;
  width: calc(100% - 100px);
  margin-top: 2%;
  padding: 5px 20px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, top 0.3s;
  z-index: 1000;
  margin-left: -23px;
}











nav {
  display: flex;
  align-items: center;
  justify-content:normal;
  gap:5px
}
.logo-container {
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
  /*background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.896) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);*/
  border-radius: 20px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  padding: 50px;
  transition: all 0.3s ease;
  margin-left: -13px;
}

.logo {
  padding: 0; /* Reset padding */
}

.logo img {
  width: 105px;
  height: auto;
  margin-left: -52px;
  margin-top: -54px;
  object-fit: cover;
  image-rendering: crisp-edges; /* For browsers that support crisp-edges */
  image-rendering: -webkit-optimize-contrast; /* For Edge 79+ */
  background-size: cover;
}


.buttons-container {
  display: flex;
  margin-left: auto;
  gap: 40px;
  align-items: center;
}
/* Sponsor button styles */
.sponsor-btn button {
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
  font-family: 'Montserrat Semi-Bold', sans-serif;
  color: white;
  padding: 12px 6px; /* Increased button size */
  border: none;
  border-radius: 12px; /* Increased border radius */
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 17px;
}

/* Dropdown button styles */
.dropbtn {
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
  color: white;
  font-family: 'Montserrat Semi-Bold', sans-serif;
  padding: 12px 20px; /* Adjusted button padding */
  border: none;
  border-radius: 8px; /* Increased border radius */
  cursor: pointer;
  margin-left: -20px;
  font-size: 14px;
}

/* Dropdown content styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  margin-left: -15px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}










@keyframes dropDown {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 0% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}







/* Main container styles */
.main-container {
  background-color: #c81543;
  border-radius: 40px;
  padding: 20px;
  margin: -130px;
  
  margin-top: 10%;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 0px;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
}


/* Hackathon info container */
.hackathon-info {
  text-align: center;
  margin-bottom: 20px;
}

/* Logo styling */
.hackathon-info img {
  width: 410px; /* Increased logo size */
  height: 140px; /* Maintain aspect ratio */
  margin-top: 3%;
  align-items: center;
  transition: transform 0.3s;
}
/* Text styling */
.hackathon-info h2 {
  font-size: 21px; 
  font-weight:normal;
  margin-bottom: 25px; 
  font-family: 'Montserrat Semi-Bold', sans-serif;
  color: rgb(239, 236, 236);
  margin-top: 1%;
}
.hackathon-info p {
  font-size: 21px; /* Larger font size */
  font-weight: bolder;
  font-family: 'Montserrat Bold', sans-serif;
  margin-bottom: 25px; /* Space between dates and buttons */
  color: whitesmoke;
  transition: font-size 0.3s; /* Add transition effect */
}
.hackathon-info img.map-icon {
  width: 70px;
  height: 70px; /* Adjust the size of the map icon */
  vertical-align: middle; /* Align the icon vertically with text */
  margin-right: 20px; /* Add some space between the icon and text */
  display: inline-block;
  margin-bottom: 20px;
}


/* Buttons container */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add gap between buttons */
}

.buttons button {
  font-size: 17px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 211px; /* Adjust width to fit content */
  height: 82px;
  color: rgb(240, 218, 218);
  border: none;
  border-radius: 9px;
  background: linear-gradient(rgba(245, 166, 35, 1), rgba(245, 166, 35, 1));
  padding: 0 20px; /* Add padding for spacing */
  display: flex;
  align-items: center; /* Center items vertically */
  text-align:start;
}

.buttons button:hover {
  background: linear-gradient(rgba(199, 158, 90, 1), rgba(248, 231, 28, 1));
}

/* Link styling */
.buttons a {
  color: white;
  text-decoration: none;
}
.discord-button img{
  width:180px;
  height:79px;
  margin-top: 3%;
  border-radius: 8px;
}

.buttons button img {
  width: 25px;
  height: 25px;
  margin-right: 0px;

}

.hackathon-info .devfolio-image {
  border-radius: 10px;
  width: 180px;
  height: 79px;
}


























.countdown-container {
  padding: 40px;
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  border-radius: 20px;
  margin-top: 50%;
  margin-right: -110px;
  margin-left: 23px;
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
  max-height:100%;
}

.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.clock-canvas {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}

.text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
  position: absolute;
  top: 70%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
}

.text .val {
  font-size: 26px;
  margin-top: 9px;
}

.text .type-time {
  font-size: 12px;
}
.clock-item.clock-days.countdown-time-value.col-sm-6.col-md-3 {
  width: 110px;
}
.clock.row {
  display: inline-flex;
  width: 100%;
  gap:15px;
  margin-top: 5%;
}
.clock-item.clock-hours.countdown-time-value.col-sm-6.col-md-3{
  width:110px;
}
.clock-item.clock-minutes.countdown-time-value.col-sm-6.col-md-3{
  width: 110px;
}
.clock-item.clock-seconds.countdown-time-value.col-sm-6.col-md-3{
  width:110px;
}
#count .heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}



/* Front text */
#count .front-text {
  font-size: 25px;
  color: #fff;
  font-family: 'NTBrickSans', sans-serif;
  position: absolute;
  margin-top: 3%;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  z-index: 2;
  transition: transform 0.3s, z-index 0.3s;
}



























/* About Us section styles */
#about.container {
  padding: 40px;
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  border-radius: 20px;
  margin-top: 20%;
  margin-right: -110px;
  margin-left: 23px;
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
}


/* Heading container */
#about .heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}



/* Front text */
#about .front-text {
  font-size: 52px;
  color: #fff;
  font-family: 'Montserrat Bold', sans-serif; /* Use Montserrat Semi-Bold */
  position: absolute;
  margin-top: 3%;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  z-index: 2;
  transition: transform 0.3s, z-index 0.3s;
}


/* Content container */
#about .content {
  text-align: center;
  margin-top: 16%;
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
}


/* Text styling */
#about .content p {
  font-size: 22px;
  font-weight:lighter;
  font-family: 'Arial', sans-serif;
  color: #d0cece; /* Light gray color */
  line-height: 1.6; /* Line height for readability */
  margin-bottom: 20px;
  margin-top: 5%;
}

/* Image styling */
#about .content img {
  width: 90%; /* Make image fill container */
  border-radius: 20px; /* Rounded corners */
  margin-bottom: 20px;
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
  margin-top: 3%;
}



































/* Tracks section styles */
#tracks.container {
  padding: 40px;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);;
  border-radius: 20px;
  margin-top: 15%;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right: -110px;
  margin-left: 23px;
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
}

/* Heading container */
#tracks .heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}


/* Front text */
#tracks .front-text {
  font-size: 52px; /* Smaller font size */
  color: #fff; /* White color */
  font-weight: bold;
  font-family: 'Montserrat Bold', sans-serif;
  position: absolute;
  margin-top: 3%;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  z-index: 2; /* Ensure front text is on top */
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
}
/* Tracks container */
.tracks-container {
  margin-top: 12%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

/* Individual track */
.track {
  text-align:center;
  width: calc(20% - 20px); /* Set width for each track with gap */
}

/* Track image */
.track img {
  margin-left: -29px;
  width: 120px;
  border-radius: 20px;
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
  margin-top: 40%;
}

.track:hover img {
  transform: scale(1.05); 
  z-index: 3; 
}

.track p {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Montserrat Semi-Bold', sans-serif;
  margin-top: 10px;
}
/* Highlighted words */
.track p span {
  font-weight: bold;
  color: #f46d24; /* Orange color */
}



























/* FAQs section styles */
#faqs.container {
  padding: 40px;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);
  border-radius: 20px;
  margin-top: 7%;
  margin-left: 23px;
  margin-right: -110px;
  background-size: 100% 200%;
  animation: dropDown 5s infinite;

}
.highlighted-email {
  color: yellow;
  cursor: pointer;
}


/* Heading container */
#faqs .heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

/* Front text */
#faqs .front-text {
  opacity: 95%;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat Bold', sans-serif;
  position: absolute;
  margin-top: 6%;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  z-index: 2; /* Ensure front text is on top */
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
}

/* FAQs container */
.faqs-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Gap between FAQ items */
  margin-top: 14%;
}

/* FAQ item */
.faq-item {
  background-color: #040404; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: transform 0.3s ease; /* Smooth transition */
}


/* FAQ question */
.faq-question {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer; /* Add pointer cursor for interaction */
  color: #f2f2f2;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/* Question icon */
.question-icon {
  width: 30px; /* Adjust icon size */
  color: #f1f1f1;
}

/* FAQ answer */
.faq-answer {
  margin-top: 1.5%;
  display: none; /* Hide answer by default */
  color: #f2f2f2;
  font-size: large;
  gap: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 10%;
}

/* Show answer when FAQ question is clicked */
.faq-question.active + .faq-answer {
  display: block;
  font-size: large;
  gap: 5px;
}

/* Answer icon */
.answer-icon {
  width: 20px; 
  height: 20px;
  margin-left: 0.5%;
}

/* Question text */
.faq-question p {
  margin: 0;
}

/* FAQ question container */
.faq-question {
  display: flex;
  align-items: center;
}

/* Question icon */
.question-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* FAQ answer container */
.faq-answer {
  display: none; 
  margin-left: 10%;
}

.dropdown-btn {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

/* Style the dropdown icon */
.dropdown-icon {
  width: 30px;
  height: 30px;
}
























#sponsors.container {
  padding: 40px;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(200,21,67,1) 95%, rgba(200,21,67,1) 100%);;
  border-radius: 20px;
  margin-top: 15%;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 23px;
  margin-right: -110px;
  background-size: 100% 200%;
  animation: dropDown 5s infinite;
}


/* Heading container */
#sponsors .heading-container {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}



/* Front text */
#sponsors .front-text {
  font-size: 52px; /* Smaller font size */
  color: #fff; /* White color */
  font-weight: bold;
  font-family: 'Montserrat Bold', sans-serif;
  position: absolute;
  margin-top: 4%;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  z-index: 2; /* Ensure front text is on top */
  transition: transform 0.3s, z-index 0.3s; /* Add transition for smooth effect */
}

/* Sponsor type styles */
.sponsor-type {
  margin-bottom: 40px;
  margin-top: 24%;
}

.sponsor-type h2 {
  margin-top: 15%;
  font-size: 30px;
  font-family: 'Poppins Semi-Bold', sans-serif;
  color: #937425;
  font-weight: lighter;
  margin-bottom: 10px;
  text-align: left;
}

.sponsor-type h2::before{
  content: '\2605'; /* Unicode for star symbol */
  margin-right: 5px; /* Adjust spacing between the star and text */
}
}

/* Partner styles */
.partner {
  display: flex;
  align-items: normal;
  margin-bottom: 0px;
  gap: 0px;
  margin-top: -5%;
  margin-left:15px;
}


.partner-info p {
  margin-top: 5px;
}
.venue-partner-logos{
  width: 100px;
  height: 110px;
  transition: transform 0.3s ease-in-out;
  margin-top: 5%;
  margin-left: 8%;
}
.venue-partner-info{
  width: 220px;
  height: 120px;
  margin-top: -30%;
  margin-left: 34%;

}

/* Accessing Gold Partner elements in CSS */
.gold-partner {
  margin-top: 10%;
}

.silver-partner{
  margin-top: -5%;
}

.platform-partner{
  margin-top: -5%;
}
.merchandise-partner{
  margin-top: -5%;

}
.hiring-partner{
  margin-top: -5%;
}
.gold-partner .gold-partner-logo {
margin-left: 6%;
width: 210px;
transition: transform 0.3s ease-in-out;
margin-top: 4%;
}
.gold-partner .gold-partner-logo:hover {
  transform: scale(1.01); /* Enlarge the image on hover */
}

/*platform partner*/
.platform-partner .platform-partner-logo {
  width: 210px;
  height: auto;
  margin-top: 5%;
  margin-left: 8%;
}

.silver-partner-logo {
  width: 210px;
  height: auto;
  margin-top: 10%;
  margin-left: 8%;
}

.merchandise-partner-logo {
  border-radius: 11px;
  width: 210px;
  height: 75px;
  margin-top: 5%;
  margin-left: 8%;
}

.hiring-partner-logo {
  border-radius: 11px;
  width: 210px;
  height: 75px;
  margin-top: 5%;
  margin-left: 8%;
} 

.silver-partner-logo:hover{
  transform: scale(1.1); 
}

/*venue partner*/
.venue-partner-logo {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-top: 5%;
  margin-left: 4%;
}
.venue-partner-logo:hover{
  transform: scale(1.1); 
}

.sponsor-type .partner-info .p1 {
  color:#ffffff;
}
